@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.header-logo {
    margin: 20px auto 20px 20px;
}
.hidden {
    display: none;
}

.hero {
    width: 100%;
}

.hero-container {
    margin-bottom: 30px;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

.pink-lettering {
    text-transform: uppercase;
    color: hsl(0, 36%, 70%);
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 10px;
    margin-top: 40px;
    
}

.black-lettering {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight:550;
    letter-spacing: 10px;
}

p {
    color: hsl(0, 36%, 70%);
    line-height: 25px;
    margin-bottom: 40px;
}

.input-submit{
    position: relative;
  
}

.email {
    border-radius: 30px;
    padding: 15px;
    border: 1px solid hsl(0, 36%, 70%);
    
}

::placeholder {
    color: hsl(0, 36%, 70%);
    
}

.submit-btn {
    background-color: hsl(0, 36%, 70%);
    border: none;
    width: 75px;
    height: 48px;
    border-radius: 30px;
    position: absolute;
    left: 230px;
    
    
}

.submit-btn:hover {
    cursor: pointer;
    transform: scale(1.1);

}
.invalid-email-text {
    color: hsl(0, 93%, 68%) ;
}

@media (min-width: 576px){
    .main-container {
        display: flex;
        max-width: 1440px;
        margin: 0 auto;
    }

    .header-logo {
        display:none;
    }

    .hidden {
        display: block;
    }
    
    .hero-container {
        margin: 0;
        flex-basis: 40%;
        
    }
    .hero{
        content: url("./images/hero-desktop.jpg");
        max-width: 100%;
        height: 100%;
    }
    
    .sub-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align:left;
        margin: 50px;
        flex-basis: 60%;

    }
   
}
